[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
User=appuser
Group=appuser
WorkingDirectory=/home/appuser/reddit
ExecStart=/usr/local/bin/puma -d
Restart=on-failure

[Install]
WantedBy=multi-user.target